<%= polaris_card do %>
  <%= polaris_empty_state(
    heading: heading,
    classes: "empty-state",
    image: image_path("empty_state/#{icon_name}"),
  ) do |state| %>
    <% state.with_primary_action(url: "") { "Upload historical data" } %>
    <p>Upload your historical payouts data to get started.</p>

    <% state.with_footer do %>
      <p>
        If you don’t want to upload historical data, connect your <%= polaris_link(url: "#", monochrome: true) { "Shopify Partner API" } %> data source.
      </p>
    <% end %>
  <% end %>
<% end %>
