<%= polaris_card do %>
  <%= polaris_empty_state(
    heading: t(".title", resource: resource_name_for(resource, true)),
    classes: "empty-state",
    image: image_path("empty_state/ImportMinor.svg"),
  ) do |state| %>

    <% state.with_primary_action(url: new_import_path, data: {turbo_frame: "_top"}) { "New import" } %>
    <p><%= t(".description")%></p>

    <% state.with_footer do %>
      <p>
        <%= t(".footer_html", url: polaris_link(url: "#", monochrome: true) { "Shopify Partner API" } )%>
      </p>
    <% end %>
  <% end %>
<% end %>
