<div class="main">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <blockquote id="intro-quote">
        <p>Hi there! I'm Daniel, an ex-Shopify app dev of 9+ years. I've been helping Bjorn out with Partner Metrics.</p>
        <p>I'm working on something else that you might be interested in.</p>
        <p>I found it was hard to know what to optimize in your app listing, and to measure if the changes improved things or not.</p>
        <p>App Store Analytics is Google Search Console for Shopify apps.</p>
        <p>Check it out! Interested to hear what you think.</p>
        <footer>Daniel Sim</footer>
      </blockquote>
    </div>
  </div>

  <div id="heading_row" class="row">
    <div class="col-xs-12 col-sm-6 col-md-5">
      <h1 style="font-size: 42px">Optimize your Shopify App Store listing for <strong>more traffic and installs</strong></h1>
      <h3>Detailed analytics for Shopify app developers</h3>
      <a href="https://www.appstoreanalytics.io" id="call-to-action" class="btn btn-primary btn-lg">Learn more</a>
    </div>
    <div class="col-md-7">
      <a href="https://www.appstoreanalytics.io"><%= image_tag 'app-store-analytics-dashboard.png', class: "img-responsive", style: "border: solid 8px #e9eef1; border-radius: 10px;" %></a>
    </div>
  </div>

  <%= render partial: 'import_modal' %>
</div>
