<%= polaris_banner(
  title: t(".title"),
  status: :info
) do |banner| %>
  <p>
    <%= t(".message") %>
  </p>

  <% banner.with_action(
    url: new_partner_api_credential_path
  ) { t("actions.add", resource: resource_name_for(PartnerApiCredential, true)) } %>
<% end %>
