/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require framework_and_overrides
 *= require animate
 *= require devise_bootstrap_views
 *= require font-awesome
 *= require bootstrap-select
 *= require bootstrap-datepicker3
 *= require jquery-tablesorter/theme.bootstrap
 *= require_self
 */

$brand-danger: #d72c0d;
$brand-success: #47c1bf;
$brand-primary: #007f5f;
$state-success-text: #405352;
$state-success-bg: #ebf5fa;
$state-success-border: #2463bc;

@import 'bootstrap';

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  font-weight: 400;
}

#wrap {
  min-height: 100%;
}

/* Overloading "glyphicon" class with "fa" */
.glyphicon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-left:before {
  content: '\f053';
}

.glyphicon-chevron-right:before {
  content: '\f054';
}

.glyphicon-calendar:before {
  content: '\f073';
}

.index #wrap {
  color: #fff;
  background: rgba(49, 55, 61, 1);
  background: -moz-linear-gradient(top,
      rgba(32, 33, 35, 1) 0%,
      rgba(49, 55, 61, 1) 68%,
      rgba(17, 17, 17, 1) 100%);
  background: -webkit-gradient(left top,
      left bottom,
      color-stop(0%, rgba(32, 33, 35, 1)),
      color-stop(68%, rgba(49, 55, 61, 1)),
      color-stop(100%, rgba(17, 17, 17, 1)));
  background: -webkit-linear-gradient(top,
      rgba(32, 33, 35, 1) 0%,
      rgba(49, 55, 61, 1) 68%,
      rgba(17, 17, 17, 1) 100%);
  background: -o-linear-gradient(top,
      rgba(32, 33, 35, 1) 0%,
      rgba(49, 55, 61, 1) 68%,
      rgba(17, 17, 17, 1) 100%);
  background: -ms-linear-gradient(top,
      rgba(32, 33, 35, 1) 0%,
      rgba(49, 55, 61, 1) 68%,
      rgba(17, 17, 17, 1) 100%);
  background: linear-gradient(to bottom,
      rgba(32, 33, 35, 1) 0%,
      rgba(49, 55, 61, 1) 68%,
      rgba(17, 17, 17, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#202123', endColorstr='#111111', GradientType=0);
}

#main {
  overflow: auto;
  padding-bottom: 70px;
  /* this needs to be bigger than footer height*/
  margin-top: 0px;
}

.panel {
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 8px 0 rgba(63, 63, 68, 0.15);
}

.panel-body {
  padding: 20px;
}

.footer {
  position: relative;
  margin-top: -70px;
  /* negative value of footer height */
  height: 70px;
  clear: both;
  padding-top: 20px;
}

.index .footer * {
  color: #616a75 !important;
}

/* Align a bit with Shopify Admin */
body {
  background-color: #f1f2f4;
  color: #1f2124;
}

a {
  color: #2463bc;
}

label {
  font-weight: 500;
}

.container {
  position: relative;
}

#heading_row {
  z-index: 2;
  position: relative;
}

.alert {
  color: #1f2124;
  background-color: #f6f6f7;
  box-shadow: inset 0 4px 0 0 #637381, inset 0 0 0 0 transparent,
    0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 8px 0 rgba(63, 63, 68, 0.15);
  padding: 24px;
  border: 0;
  border-radius: 0 0 8px 8px;
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.64, 0, 0.35, 1);
  transition: box-shadow 0.2s cubic-bezier(0.64, 0, 0.35, 1);
}

.alert.alert-success {
  color: #1f2124;
  background-color: #ebf9fc;
  box-shadow: inset 0 4px 0 0 #00a0ac, inset 0 0 0 0 transparent,
    0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 8px 0 rgba(63, 63, 68, 0.15);
}

.alert.alert-danger {
  color: #1f2124;
  background-color: #fff4f4;
  box-shadow: inset 0 4px 0 0 #d82c0d, inset 0 0 0 0 transparent,
    0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 8px 0 rgba(63, 63, 68, 0.15);
}

.alert-danger a,
.alert-danger a:hover {
  color: #1f2124;
  font-weight: bold;
  text-decoration: underline;
}

.top-buffer {
  margin-top: 15px;
}

.navbar-btn {
  margin: 11px 15px 8px;
}

.navbar-default {
  background-color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: #fff;
  color: #1f2124;
  box-shadow: 0px -3px inset #007f5f;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #1f2124;
  box-shadow: 0px -3px inset #dde0e4;
}

.navbar-default .navbar-nav>li>a {
  font-weight: 500;
  color: #616a75;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.dropdown-menu>li>a {
  padding: 8px 20px;
}

.dropzone {
  margin-top: 15px;
  padding: 20px;
  border: 2px dashed #616a75;

  &:hover {
    border-color: #1f2124;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.well {
  background: #fff;
}

h1 {
  font-weight: 500;
}

h2,
h3,
h5 {
  color: #616a75;
  font-weight: 400;
}

h4,
h6 {
  font-size: 14px;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

h2,
.h2 {
  color: #1f2124;
}

h2.main-metric {
  font-weight: 500;
}

.panel h2,
.panel .h2 {
  margin-top: 8px;
  line-height: 32px;
  font-weight: 500;
  font-size: 28px;
}

#chart_tile h2 {
  font-size: 36px;
  font-weight: 600;
}

#chart_tile .title {
  color: #616a75;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

#chart_tile .meta-amount {
  color: #1f2124;
  margin-bottom: 8px;
}

#chart_tile .meta-change {
  margin: 8px 0;
}

#chart_tile h4 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 5px;
  line-height: 18px;
}


.panel h3,
.panel .h3 {
  font-size: 18px;
  line-height: 18px;
  margin-top: 6px;
  font-weight: 600;
}

h3 small,
h4 small,
.h3 .small,
.h4 .small {
  text-transform: uppercase;
  font-size: 50%;
  margin-right: 4px;
  color: #616a75;
}

h4,
.h4 {}

h5,
.h5 {
  font-size: 16px;
  color: #616a75;
}

#chart_tile h5 {
  font-size: 14px;
  text-transform: none;
  margin: 8px 0;
}

.metric_tile small {
  font-size: 12px;
  margin-right: 2px;
}

#filter_form {
  margin-top: 1em;

  .form-control {
    height: 33px;
  }

  .input-group-addon {
    background: #fff;
  }
}

#app_title {
  max-width: 295px;
}

.btn-primary,
.submit {
  background-color: #007a5c;
}

.text-success {
  color: #008060;
}

.text-danger {
  color: #d72c0d;
}

.panel-footer {
  background: #fff;
}

.directUpload .progress {
  max-width: 600px;
  margin: 0.2em 0 0.2em 0;
}

.directUpload .progress .bar {
  height: 1.2em;
  padding-left: 0.2em;
  color: white;
  display: none;
}

.index #title {
  margin-top: 15px;
  margin-bottom: 30px;
}

.index #by-line {
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #616a75;
}

.index #by-line-security {
  margin: 15px 20% 30px 20%;
  color: #616a75;
  text-align: left;
}

/* Button outline styles */
.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all 0.5s;
}

.btn-primary.btn-outline {
  color: #1f2124;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-danger:hover {
  background-color: #d72c0d;
  border-color: #d72c0d;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.tablesorter-bootstrap thead th,
.tablesorter-bootstrap thead td,
.tablesorter-bootstrap tfoot th,
.tablesorter-bootstrap tfoot td {
  font: inherit;
  font-weight: bold;
  margin: 0 0 18px;
  background-color: #fff;
}

.app_store_analytics .main {
  padding-bottom: 40px;

  & #intro-quote {
    margin: 20px 0;
  }

  #call-to-action {
    margin-bottom: 20px;
  }

  & h3 {
    margin-bottom: 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

  #filter_form,
  #filter_form .form-group {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  #filter_form .form-group,
  #filter_form .input-group {
    margin-bottom: 10px;
    width: 100%;
  }

  #filter_form .bootstrap-select,
  #date {
    width: 100% !important;
  }

  #heading_row h1 {
    font-size: 36px;
  }

  .index #by-line-security {
    margin: 30px 5%;
    color: #616a75;
    text-align: left;
  }

  .navbar-brand img {
    margin-top: 2px !important;
    max-width: 130px !important;
  }
}

@media only screen and (max-width: 480px) {
  .index h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 360px) {
  .index h1 {
    font-size: 28px;
  }
}
